/* font-family: 'Karla', sans-serif; */


span {
    font-size: 17px;
    color: hsl(179deg 64% 53%);
}

h1 {
    color: hsl(204, 43%, 93%);
}

h2 {
    color: hsl(204, 43%, 93%);
}

p {
    color:  hsl(204, 43%, 93%);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    
    background-color: hsl(218, 22%, 67%);
    font-size: 16px;
    margin: 0;
}

.body-card {
    display: flex;
    flex-direction: column;    
    /* background: red; */
    width: 85%;
    height: 85%;
    border-radius: 7px;
    margin: 80px 0;       
}

.top-card {
    background-color: white;
    padding: 50px 50px 25px 50px;
    border-radius: 7px 7px 0 0;
}

.top-card h2 {
    color: hsl(179, 62%, 43%);
    margin: 0;

}

.top-card-p {
    color: hsl(218, 22%, 67%);
    line-height: 1.9;
    font-size: 14px;
}

.focus {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    margin: 20px 0;
}

.middle-card {
    display: flex;
    flex-direction: column;
    background-color: hsl(182, 90%, 36%);
    padding: 50px;    
}

.middle-card h2 {
    margin: 0;
}

.middle-card h1 {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.middle-card span {
    margin-left: 15px;
}

.middle-card p {
    margin: 10px 0 30px;
    grid-auto-flow: column;
}

.middle-card-button {
    color: white;
    width: 80%;
    height: 2.5rem;
    font-weight: bolder;
    background: hsl(71, 73%, 54%);
    border-radius: 5px;
    border: none;
    align-self: center;
    filter: drop-shadow(2px 5px 8px hsl(189, 86%, 29%));
}

.bottom-card {
    background-color: hsl(179, 62%, 43%);
    padding: 50px;
    border-radius: 0 0 9px 9px;
}

.bottom-card p {
    margin: 6px 0;
    font-size: 1.1rem;
}

.bottom-card h2 {
    margin: 5px 0 28px 0;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 75vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}

.foot-item {
    width: 33%;
    color: white;
}

.foot-item a {
    color: hsl(71, 73%, 54%);
    text-decoration: none;
}

.foot-item a:hover {
    text-decoration: underline;
    color: hsl(71, 78%, 32%);
}

@media (min-width: 375px) {

    .body-card {
        display: grid;
    }

    .top-card h2 {
        font-size: 2rem;
    }

    .grid-wrapper-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .top-card p {
        font-size: 1.35rem; 
    }

    .middle-card {
        border-radius: 0 0 0 9px;
    }

    .bottom-card {
        border-radius: 0 0 9px 0;
    }

    .footer {
        flex-direction: row;
        align-items: center;
        margin-top: 150px;
        
    }


}