
hr {
    height: 3px;    
    background-color:rgb(52, 63, 99);
    margin: 40px 300px;
}

img {
    border: 4px yellow double;
    width: 40%    
}

img:hover {
    border: 4px yellow ridge;
    /* border-style: outset;
    border-color: yellow; */
}

p {
    width: 70%;
    color: grey;
}

.title {
    color: rgb(241, 184, 40);    
    background-color: rgb(52, 63, 99);
    padding: 20px;
    margin: 0 10px 0 10px;
}

.review {
    color: rgb(146, 64, 9);
}

